
{{#with post}}
<div class="card mb-3">
    <div class="card-header">
        <h1>{{title}}</h1>
        <sub>Posted by <strong>{{'User.username'}}</strong> at {{createdAt}}</sub>
    </div>
    <div class="card-body">
        <p>{{body}}</p>
    </div>
</div>
{{/with}}

{{#if isLoggedIn}}
    <form>
        <div class="mb-3">
            <label class="form-label" for="comment_body">Post a comment</label>
            <textarea class="form-control" name="comment_body" id="comment_body" cols="30" rows="2"></textarea>
        </div>
        <button class="btn btn-primary" id="submit_comment">Submit</button>
    </form>
{{else}}
<p>Login to post a comment</p>
{{/if}}


<h4 class="mt-4">Comments</h4>

<ul class="list-group">
{{#each comments}}
    <li class="list-group-item">
        <div class="ms-2 me-auto">
            <div class="fw">{{body}}</div> 
            Posted by <strong>{{username}}</strong> at {{createdAt}}
        </div>
    </li>
{{/each}}
</ul>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    document.getElementById('submit_comment').addEventListener('click', event => {
        event.preventDefault();

        let data = {
            body: document.getElementById('comment_body').value,
        };

        let headers = {
            'Authorization': `Bearer ${localStorage.token}`
        }

        axios.post('/api/comment/{{post.id}}', data, {headers: headers}).then(res => {
            location = '/post/{{post.id}}';
        }).catch(err => {
            console.log(err);
        })
    })

</script>